<div id="<%= dom_id sales_person %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= sales_person.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Sales office:</strong>
    <%= sales_person.sales_office_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this sales person", sales_person, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this sales person', edit_sales_person_path(sales_person), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
