<!DOCTYPE html>
<html>
  <head>
    <title>Insurance</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav>
        <ul class="flex">
          <li class="mr-6">
            <%= link_to("New Lead", new_lead_url, class: "text-blue-500 hover:text-blue-800") %>
          </li>
          <li class="mr-6">
            <%= link_to("Sales Offices", sales_offices_url, class: "text-blue-500 hover:text-blue-800") %>
          </li>
          <li class="mr-6">
            <%= link_to("Sales People", sales_people_url, class: "text-blue-500 hover:text-blue-800") %>
          </li> 
        </ul> 
      </nav>
    </header>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
